services:
  frontend:
    image: sermalenk/skypro-front:lesson-38
    restart: always
    depends_on:
      api:
        condition: service_started
    ports:
      - "80:80"


  migrations:
    build: .
    container_name: todo-migrations
    command: >
      sh -c "echo 'Ожидание базы данных...' &&
             sleep 10 &&
             python manage.py makemigrations --noinput &&
             python manage.py migrate --noinput"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    restart: "no"


  api:
    build: .
    restart: always
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - static_volume:/app/staticfiles
    depends_on:
      - migrations
      - db
    command: gunicorn Todolist.wsgi:application --bind 0.0.0.0:8000 --workers 3
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s


  bot:
    build: .
    restart: always
    env_file: .env
    depends_on:
      - api
      - db
    command: python manage.py runbot


  db:
    image: postgres:15-alpine

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  postgres_data:
  static_volume: