name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Test step
      run: echo "Workflow is running!"

    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: 89.169.156.104
        username: ubuntu
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          echo "Connected to server"
          echo "Current directory: $(pwd)"